<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Go Player Rating Visualization</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script> 
</head>
<body>
  <div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="background-color: #139992"> <font color="white">Go Players Rating Visualization</font></a>
      </div>
      
      <ul class="nav navbar-nav">
        <li><a href="/player">Player Page</a></li>
        <li><a href="/team">Team Page</a></li>
      </ul>
    </div>
  </nav>
	<div class="row">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-body">Professional Go Players</div>
          <div class="sample-sidebar">
              <select id="selSamples">
              </select>
              <table>
                  <tr><td class="bold">Rank</td><td class="rank"></td></tr>
                  <tr><td class="bold">Rating</td><td class="rating"></td></tr>
                  <tr><td class="bold">DOB</td><td class="age"></td></tr>
                  <tr><td class="bold">Nationality</td><td class="location"></td></tr>
                  <tr><td class="bold">Total Games</td><td class="total"></td></tr>
                  <tr><td class="bold">Wins</td><td class="wins"></td></tr>
                  <tr><td class="bold">Losses</td><td class="losses"></td></tr>
                  <tr><td class="bold">Win Rate</td><td class="rate"></td></tr>

              </table>
            </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body" id="PlayerName">
            <i>Choose a player from the dropdown to the left</i>
          </div>
          <div id="plot"></div>
        </div>
      </div>
    </div>

  <div class="row">
      <div class="col-md-8"> </div>
      <div class="col-md-3" class="row justify-content-end">
          <div id="chooseanother"></div>
            <select id="choose"></select>
      </div>
    </div>

  <div class="row">
        <div class="col-md-3">
          
            <h4>Record of Recent Games</h4>
            
                <select id="selLast">
                  <option value=10 selected>10</option>
                  <option value=20>20</option>
                  <option value=30>30</option>
                </select>
            
          
        </div>
        <div class="col-md-8">
            <div id="bar"></div>   
        </div>
    </div>
  </div>
    


    
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
</body>
</html>