<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Go Player Rating Visualization</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
  	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script> 
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
      
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/" style="background-color: #139992"> <font color="white">Go Players Rating Visualization</font></a>
	    </div>
	    
	    <ul class="nav navbar-nav">
	      <li><a href="/player">Player Page</a></li>
	      <li><a href="/team">Team Page</a></li>
	    </ul>
	  </div>
	</nav>
	
	<div class="row">
		<!-- <div class="col-md-1"></div> -->
		<div class="col-md-5">
			<p>Team Fight: <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/510px-Flag_of_the_People%27s_Republic_of_China.svg.png" alt="China" width="52" height="40">  VS <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/510px-Flag_of_South_Korea.svg.png" alt="S. Korea" width="60" height="40"> </p>
		</div>
	</div>

	<div class="row">
      <div class="col-md-3">
        <div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Please input team size</span>
		  <input type="text" class="form-control" id="teamsize" placeholder="1 to 25" aria-describedby="basic-addon1">
		</div>
      </div>
      <div class="col-md-8">
        <canvas id="canvas" width="570" height="284" class="chartjs-render-monitor" style="display: block; height: 142px; width: 285px;"></canvas>
      </div>
    </div>

    <div class="row">
    	<div class="col-md-3"></div>
    	<div class="col-md-8">
    		<div id="summary">
    		
	    	</div>
	    </div>
    	
    </div>
</div>

  <!-- <div class="row">
      <div class="col-md-8"> </div>
      <div class="col-md-3" class="row justify-content-end">
          <div id="chooseanother"></div>
            <select id="choose"></select>
      </div>
    </div> -->


    
    <script src="{{ url_for('static', filename='js/plots03.js') }}"></script>
</body>
</html>